@import "tailwindcss";

/* popup open effect */
.popupEffects {
  animation: smooth-appearance forwards 350ms ease-in-out;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

@keyframes smooth-appearance {
  0% {
    transform: translate(-50%, -54%) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* popup close effect */
.popupClosingEffect {
  animation: smooth-disappearance forwards 350ms ease-in-out;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

@keyframes smooth-disappearance {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -54%) scale(0.98);
    opacity: 0;
  }
}

/* backdrop effects */
.backdropEffects {
  animation: backdrop-appearance 350ms ease-in-out forwards;
}

.backdropClosingEffect {
  animation: backdrop-disappearance 350ms ease-in-out forwards;
}

@keyframes backdrop-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backdrop-disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* related to popup skill section */
@layer components {
  .skillStyles {
    @apply border border-[#383737] px-[11px] py-[7px] rounded-[999px];
  }
  .popupHeadingStyles {
    @apply font-bold text-[1.5rem] mt-6;
  }
}

.skillStylesLIghtMode {
  box-shadow: -1px 0px 2px 1px gray;
}

.popup-content-container {
  scrollbar-width: none;
}

@media not (max-width: 450px) {
  .scrollButton {
    display: none;
  }
}

/* 
this is 1 way of doing this 

.dark mark {
  color: #02d4fe;
  background-color: transparent;
}

.light mark {
  color: red;
  background-color: transparent;
} */

.popup.dark mark {
  color: #02d4fe;
  background-color: transparent;
}
.popup.light mark {
  color: red;
  background-color: transparent;
}

/* not looking good*/
/* .popup.light mark{
  background-color: yellow;
  border-radius: 999px;
} */

.popup.dark {
  background-color: #151414d3;
}

.popup.light {
  background-color: rgba(255, 255, 255, 0.89);
}

.popup.light h2 {
  color: blue;
}

.popup.dark h2 {
  color: #20db23;
}

.popup h2{
  margin-bottom: 1.2rem;
}