@import "tailwindcss";

@layer components {
  .project-image-inside-mackbook {
    @apply absolute left-1/2 -translate-x-1/2 w-[79%] h-[95%] rounded-[5px];
  }
}
.project-image.screen-on {
  filter: drop-shadow(3px 2px 36px rgba(255, 255, 255, 0.418));
}

.project-image {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.project-image.active {
  opacity: 1;
  z-index: 1;
}
