@import "tailwindcss";

@layer components {
  .project-image-inside-mackbook {
    @apply absolute left-1/2 -translate-x-1/2 w-[79%] h-[94%] rounded-[5px];
  }
}

.project-image {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  /* display:none; */ /* for performance */
}

.project-image.active {
  opacity: 1;
  /* display:block; */ /* for performance */
  z-index: 1;
  filter: drop-shadow(1px 0px 32px rgba(255, 255, 255, 0.418));
}
